<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;"> Agendamentos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">

  <ion-list>
    <ion-item *ngFor="let agendamento of agendamentos">
      <ion-label class="centered-label">
        <h2>{{ agendamento.primeiroNome }} {{ agendamento.segundoNome }}</h2>
        <p><strong>CPF:</strong> {{ agendamento.cpf }}</p>
        <p><strong>Data de Nascimento:</strong> {{ agendamento.dataNascimento | date:'dd/MM/yyyy' }}</p>
        <p><strong>Telefone:</strong> {{ agendamento.telefone }}</p>
        <p><strong>Email:</strong> {{ agendamento.email }}</p>
        <p><strong>Especialidade:</strong> {{ agendamento.especialidade }}</p>
        <p><strong>Médico:</strong> {{ agendamento.medico }}</p>
        <p><strong>Data da Consulta:</strong> {{ agendamento.dataConsulta | date:'dd/MM/yyyy' }}</p>
        <p><strong>Motivo:</strong> {{ agendamento.motivo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="agendamentos.length === 0">
    <ion-label>Nenhum agendamento encontrado.</ion-label>
  </ion-item>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button>
      <a style="text-decoration: none; color: inherit;" routerLink="/home">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </a>
    </ion-fab-button>
  </ion-fab>
</ion-content>
