<ion-menu contentId="main-content-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-label *ngIf="user$ | async as user">Olá, {{ user.firstName }} {{ user.lastName }}</ion-label>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button (click)="notFound()">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <ion-item button (click)="notFound()">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-item>

      <ion-item button color="danger" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content-menu">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>AgendaJá</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1 style="text-align: center;">Agendamento</h1>

    <form [formGroup]="agendamentoForm" (ngSubmit)="create()">
      <ion-item>
        <ion-label position="floating">Primeiro nome</ion-label>
        <ion-input formControlName="primeiroNome"></ion-input>
      </ion-item>
      <ion-text color="danger"
        *ngIf="agendamentoForm.controls['primeiroNome'].invalid && agendamentoForm.controls['primeiroNome'].touched">
        O primeiro nome deve ter no máximo 10 caracteres.
      </ion-text>

      <ion-item>
        <ion-label position="floating">Segundo nome</ion-label>
        <ion-input formControlName="segundoNome"></ion-input>
      </ion-item>
      <ion-text color="danger"
        *ngIf="agendamentoForm.controls['segundoNome'].invalid && agendamentoForm.controls['segundoNome'].touched">
        O segundo nome deve ter no máximo 100 caracteres.
      </ion-text>

      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input formControlName="cpf" type="text"></ion-input>
      </ion-item>
      <ion-text color="danger"
        *ngIf="agendamentoForm.controls['cpf'].invalid && agendamentoForm.controls['cpf'].touched">
        CPF inválido (11 dígitos).
      </ion-text>

      <ion-item>
        <ion-label>Data de Nascimento</ion-label>
        <ion-input formControlName="dataNascimento" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input formControlName="telefone" type="tel"></ion-input>
      </ion-item>
      <ion-text color="danger"
        *ngIf="agendamentoForm.controls['telefone'].invalid && agendamentoForm.controls['telefone'].touched">
        Telefone inválido (10-11 dígitos).
      </ion-text>

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-text color="danger"
        *ngIf="agendamentoForm.controls['email'].invalid && agendamentoForm.controls['email'].touched">
        Insira um e-mail válido.
      </ion-text>

      <ion-item>
        <ion-label>Especialidade</ion-label>
        <ion-select formControlName="especialidade">
          <ion-select-option value="Cardiologia">Cardiologia</ion-select-option>
          <ion-select-option value="Dermatologia">Dermatologia</ion-select-option>
          <ion-select-option value="Ortopedia">Ortopedia</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Escolha o Médico</ion-label>
        <ion-select formControlName="medico">
          <ion-select-option value="Dr. João">Dr. João</ion-select-option>
          <ion-select-option value="Dra. Maria">Dra. Maria</ion-select-option>
          <ion-select-option value="Dr. Pedro">Dr. Pedro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Data da Consulta</ion-label>
        <ion-input formControlName="dataConsulta" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Motivo da Consulta (opcional)</ion-label>
        <ion-textarea formControlName="motivo"></ion-textarea>
      </ion-item>

      <ion-button expand="full" type="submit">
        <ion-icon name="add-outline"></ion-icon> Agendar
      </ion-button>
    </form>

  </ion-content>
</div>