<ion-menu contentId="main-content-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title style="text-align: center;" *ngIf="user$ | async as user">Olá, {{ user.firstName }} {{ user.lastName
        }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button (click)="notFound()">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <ion-item button (click)="viewAgendamentos()">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label>Agendamentos</ion-label>
      </ion-item>

      <ion-item button (click)="notFound()">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-item>

      <ion-item button color="danger" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Sair</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title style="text-align: center;">AgendaJá</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1 style="text-align: center;"><strong>Cadastro de agendamento</strong></h1>

    <form [formGroup]="agendamentoForm" (ngSubmit)="create()">
      <ion-item>
        <ion-input formControlName="primeiroNome" type="text" fill="solid" label="Primeiro nome"
          label-placement="floating"></ion-input>
      </ion-item>
      <ion-text color="danger"
        *ngIf="agendamentoForm.controls['primeiroNome'].invalid && agendamentoForm.controls['primeiroNome'].touched">
        O primeiro nome deve ter no máximo 10 caracteres.
      </ion-text>

      <ion-item>
        <ion-input formControlName="segundoNome" type="text" fill="solid" label="Segundo nome"
          label-placement="floating"></ion-input>
      </ion-item>
      <ion-text color="danger"
        *ngIf="agendamentoForm.controls['segundoNome'].invalid && agendamentoForm.controls['segundoNome'].touched">
        O segundo nome deve ter no máximo 100 caracteres.
      </ion-text>

      <ion-item>
        <ion-input formControlName="cpf" type="text" label="CPF" fill="solid" label-placement="floating"></ion-input>
      </ion-item>
      <ion-text color="danger"
        *ngIf="agendamentoForm.controls['cpf'].invalid && agendamentoForm.controls['cpf'].touched">
        CPF inválido (11 dígitos).
      </ion-text>

      
      <!-- <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header" color="light">
            <ion-label>Data de Nascimento</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-datetime  placeholder="Data de Nascimento"></ion-datetime>
          </div>
        </ion-accordion>
      </ion-accordion-group> -->

      <!-- <ion-item>
        <ion-input
          formControlName="dataNascimento"
          type="date"
          label="Data de Nascimento"
          placeholder="00/00/0000"
          [maskito]="cardMask"
          [maskitoElement]="maskPredicate"
          fill="solid"
          label-placement="floating"
        ></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-input formControlName="telefone" type="tel" label="Telefone" fill="solid"
          label-placement="floating"></ion-input>
      </ion-item>
      <ion-text color="danger"
        *ngIf="agendamentoForm.controls['telefone'].invalid && agendamentoForm.controls['telefone'].touched">
        Telefone inválido (10-11 dígitos).
      </ion-text>

      <ion-item>
        <ion-input formControlName="email" type="email" label="E-mail" fill="solid"
          label-placement="floating"></ion-input>
      </ion-item>
      <ion-text color="danger"
        *ngIf="agendamentoForm.controls['email'].invalid && agendamentoForm.controls['email'].touched">
        Insira um e-mail válido.
      </ion-text>

      <ion-item>
        <ion-select formControlName="especialidade" label="Escolha especialidade" fill="solid"
          label-placement="floating">
          <ion-select-option value="Cardiologia">Cardiologia</ion-select-option>
          <ion-select-option value="Dermatologia">Dermatologia</ion-select-option>
          <ion-select-option value="Ortopedia">Ortopedia</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select formControlName="medico" label="Escolha o médico" fill="solid" label-placement="floating">
          <ion-select-option value="Dr. João">Dr. João</ion-select-option>
          <ion-select-option value="Dra. Maria">Dra. Maria</ion-select-option>
          <ion-select-option value="Dr. Pedro">Dr. Pedro</ion-select-option>
        </ion-select>
      </ion-item>


      <!-- <ion-accordion-group>
        <ion-accordion>
          <ion-item slot="header" color="light">
            <ion-label>Data de consulta</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-datetime formControlName="dataNascimento" placeholder="Data da consulta"></ion-datetime>
          </div>
        </ion-accordion>
      </ion-accordion-group> -->

      <ion-datetime-button datetime="dataConsulta"></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="dataConsulta" formControlName="dataConsulta"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item>
        <ion-textarea formControlName="motivo" label="Motivo da consulta (opcional)" fill="solid"
          label-placement="floating"></ion-textarea>
      </ion-item>

      <div class="botoes">
        <ion-button type="submit">
          Cadastrar
        </ion-button>
        <ion-button fill="clear" (click)="clear()">
          Limpar
        </ion-button>
      </div>
    </form>

  </ion-content>
</div>