<ion-header>
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bem-vindo ao AgendaJa!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Usuário</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <p *ngIf="loginForm.get('name')?.invalid && loginForm.get('name')?.touched" class="error">
          O Usuário deve ter pelo menos 3 caracteres.
        </p>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">
          Entrar
        </ion-button>
      </form>
      <!-- 🔀 Link para a tela de cadastro -->
      <div class="register-link">
        <p>Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a></p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>